include ../head.pug

body
  .container.mt-5
    h1 Add/Update Goal
    form(action="/submit-goal-form" method="POST")
      .mb-3
        label(for="goalName" class="form-label") Goal Name
        input(type="text" class="form-control" id="goalName" name="goalName" required)
      .mb-3
        label(for="startDateTime" class="form-label") Start Date/Time
        .input-group.date(id="datetimepicker1" data-target-input="nearest")
          input(
            type="text"
            class="form-control datetimepicker-input"
            data-target="#datetimepicker1"
            name="startDateTime"
            required
          )
          .input-group-append(data-target="#datetimepicker1" data-toggle="datetimepicker")
            .input-group-text
              i.fas.fa-calendar-alt
      .mb-3
        label(for="Target" class="form-label") Target
        input(type="text" class="form-control" id="target" name="target" required)
      .mb-3
        label(for="age" class="form-label") Age
        input(type="number" class="form-control" id="age" name="age" placeholder="e.g., 25" min="1" required)
      .mb-3
        label(for="currentWeight" class="form-label") Current Weight (kg)
        input(type="number" class="form-control" id="currentWeight" name="currentWeight" placeholder="e.g., 70 kg" min="1" step="any" required)
      .mb-3
        label(for="height" class="form-label") Height (cm)
        input(type="number" class="form-control" id="height" name="height" placeholder="e.g., 170 cm" min="50" step="any" required)
      .mb-3
        label(for="goalImage" class="form-label") Goal Image
        input(type="file" class="form-control" id="goalImage" name="goalImage" accept="image/*")
      button(type="submit" class="btn btn-primary") Add/Edit

  script.
    const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
      localization: {
        'locale': 'fr'
      }
    });
    picker.dates.formatInput = function(date) {
      return moment(date).format('DD/MM/YYYY HH:mm');
    };